annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
colorama==0.4.6
fastapi==0.128.3
h11==0.16.0
idna==3.11
librt==0.7.8
mypy==1.19.1
mypy-extensions==1.1.0
nodeenv==1.10.0
pathspec==1.0.4
pip==26.0.1
pydantic==2.12.5
pydantic-core==2.41.5
pyright==1.1.408
ruff==0.15.0
starlette==0.52.1
typing-extensions==4.15.0
typing-inspection==0.4.2
uvicorn==0.40.0